.footer {
  .container {
    padding: 0 50px;
  }

  .tip {
    align-items: center;

    .title {
      color: #0E4F6E;;
      font-weight: 700;
      font-size: 15px;
      margin-left: 6px;
    }
  }

  .description {
    font-size: 12px;
    padding: 10px 0;
    max-width: 230px;
    color: #696969;
  }

  .show-more {
    font-size: 14px;
    font-weight: 700;
    color: #696969;
    z-index: 10;
  }
}
