<div class="container">
	<div class="nav-button"
		 (click)="activeMenu()">
		<div class="menu-btn-active">
			<img src="../../../../../assets/icons/header-nav/menu-btn.svg" alt="menu-btn">
		</div>
	</div>
	<div class="nav">
		<div class="nav-container">
			<div class="find">
				<input class="find-field" type="text" placeholder="Find">
			</div>
			<nav class="navigation">
				<div
					class="nav-link"
					routerLink="/home">
					<img class="nav-link-img" src="../../../../../assets/icons/header-nav/home.svg" alt="home">
					<span class="nav-link-title">Home</span>
				</div>
				<div class="nav-link">
					<img class="nav-link-img" src="../../../../../assets/icons/header-nav/search.svg" alt="search">
					<span class="nav-link-title">Federated Search</span>
				</div>
				<div class="nav-link">
					<img class="nav-link-img" src="../../../../../assets/icons/header-nav/network.svg" alt="network">
					<span class="nav-link-title">Link Analysis</span>
				</div>
				<div class="nav-link">
					<img class="nav-link-img" src="../../../../../assets/icons/header-nav/earth.svg" alt="world">
					<span class="nav-link-title">Map</span>
				</div>
			</nav>
			<header class="nav-favorites-header">
				<img class="nav-favorites-star" src="../../../../../assets/icons/header-nav/favorites.svg"
					 alt="favorites">
				<span class="nav-favorites-title">Favorites</span>
			</header>
			<app-favorites-item></app-favorites-item>
		</div>
	</div>
</div>
