<div class="header-right d-flex">
	<div class="add-entity-tools">
		<div class="entity-tools-btn"
			 (clickOutside)="toolsDropDownToggle = false"
			 (click)="toolsDropDownToggle = !toolsDropDownToggle"
		>
			<img [hidden]="toolsDropDownToggle"
				 class="entity-tools-btn"
				 src="../../../../../assets/icons/header-nav/btn-add.svg"
				 alt="add-button"
			>
			<img [hidden]="!toolsDropDownToggle"
				 class="entity-tools-btn"
				 src="../../../../../assets/icons/header-nav/btn-add-active.svg" alt="btn-add-active">
		</div>
		<div class="add-entity-content"
			 *ngIf="toolsDropDownToggle">
			<div class="add-entity">
				<img src="../../../../../assets/icons/header-nav/add-entity.svg" alt="add-entity">
				<span>Add Entity</span>
			</div>
			<div class="data-loader">
				<img src="../../../../../assets/icons/header-nav/data-loader.svg" alt="data-loader">
				<span>Data Loader</span>
			</div>
			<div class="create-dashboard">
				<img src="../../../../../assets/icons/header-nav/create-dash.svg" alt="create-dashboard">
				<span>Create Dashboard</span>
			</div>
		</div>
	</div>
	<div class="notifications d-flex">
		<div class="notifications-img">
			<img src="../../../../../assets/icons/header-nav/insights.svg" alt="ideas">
		</div>
		<div class="notifications-img">
			<img src="../../../../../assets/icons/header-nav/Annotations.svg" alt="messages">
		</div>
		<div class="notifications-img">
			<img src="../../../../../assets/icons/header-nav/notifications.svg" alt="notifications">
		</div>
	</div>
	<div class="log-in-section d-flex"
		 (clickOutside)="logInDropDownToggle = false"
		 (click)="logInDropDownToggle = !logInDropDownToggle"
	>
		<!--		dropdown-arrow-->
		<img src="../../../../../assets/icons/header-nav/profile.svg" alt="person-pic">
		<div class="flex-column greeting">
			<span>Hello</span>
			<span class="person-name">OrenLug125</span>
		</div>
		<div class="drop-down-content" *ngIf="logInDropDownToggle">
			<div class="admin-tools d-flex">
				<img src="../../../../../assets/icons/header-nav/admin-tools.svg" alt="admin-tools">
				<span class="drop-down-title">Admin Tools</span>
			</div>
			<div class="clear-cache d-flex">
				<img src="../../../../../assets/icons/header-nav/cleare-cash.svg" alt="clear-cache">
				<span class="drop-down-title">Clear Cache</span>
			</div>
			<div class="file-manager d-flex">
				<img src="../../../../../assets/icons/header-nav/file-manager.svg" alt="file-manager">
				<span class="drop-down-title">File load Manager</span>
			</div>
			<div class="sing-out d-flex">
				<img src="../../../../../assets/icons/header-nav/sign-out.svg" alt="sing-out">
				<span class="drop-down-title">Sing Out</span>
			</div>
		</div>
	</div>
</div>
