<div class="advanced-container">
	<div
		(clickOutside)="onClickedOutside(category)"
		*ngFor="let category of categories"
		[ngClass]="{'active': category.opened}"
		class="select-wrapper"
	>
		<div
			(click)="openCategory(category)"
			class="select-header"
			[class.select-header-date]="category.id === 1"
		>
			<img *ngIf="category.id === 1"
				 alt="advanced-time"
				 class="time-img" src="../../../../../assets/icons/advanced-time.svg">
			{{category.name}}
		</div>
		<div class="categories"
			 [class.category-date]="category.id == 1">
			<div *ngFor="let option of category.options"
				 class="checks-container">
				<div *ngIf="option==='date'">
<!--					<mat-form-field>-->
<!--						<input matInput-->
<!--							   placeholder="Choose a date"-->
<!--							   [satDatepicker]="picker2">-->
<!--						<sat-datepicker #picker2 [rangeMode]="true">-->
<!--						</sat-datepicker>-->
<!--						<sat-datepicker-toggle matSuffix [for]="picker2"></sat-datepicker-toggle>-->
<!--					</mat-form-field>-->
					<mat-form-field>
						<input matInput [matRangeDatepicker]="resultPicker" (dateChange)="x($event)">
						<mat-range-datepicker
                            #resultPicker
							[rangeMode]="true">
						</mat-range-datepicker>
					</mat-form-field>
				</div>
				<label
					*ngIf="option!=='date'"
					class="checkbox-wrap"
					[class.is-checked]="option.isChecked"
					(click)="checkOption(option, category)">
					<span class="checkmark"></span>
					<span class="filter-type">{{option.checkName}}</span>
				</label>
			</div>
		</div>
	</div>
	<div class="clear-advanced" (click)="clearAdvanced()">
		Clear all
	</div>
</div>
