.advanced-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .time-img {
    max-width: 9px;
    margin-right: 5px;
  }

  .advanced-select {
    border-radius: 5px;
  }


  .select-wrapper {
    /* Size & position */
    font-size: 9px;
    font-weight: 400;
    position: relative;
    width: 93px;
    margin-left: 10px;
    padding: 5px 0 6px 8px;


    /* Styles */
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 6px #0000001F;
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .select-header:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -3px;
    border-width: 4px 4px 0 4px;
    border-style: solid;
    border-color: #0E4F6E transparent;
  }

  .select-wrapper .categories {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    /* Styles */
    background: #fff;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top: none;
    border-bottom: none;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Hiding */
    max-height: 0;
    overflow: hidden;
  }


  .select-wrapper .categories div {
    text-decoration: none;
    color: #333;
    padding: 3px 0;
    transition: all 0.3s ease-out;
    display: block;
  }


  /* Hover state */

  .select-wrapper .categories div:hover {
    color: #57a9d9;
  }

  /* Active state */

  .select-wrapper.active {
    border-radius: 5px 5px 0 0;
    border-bottom: none;
  }

  .select-wrapper.active:after {
    border-color: #82d1ff transparent;
  }

  .select-wrapper.active .categories {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    max-height: 400px;
    box-shadow: 0px 0px 19px -2px rgba(161, 148, 161, 0.81);
  }

  .select-wrapper:focus {
    border-radius: 5px 5px 0 0;
    background: #4cbeff;
    box-shadow: none;
    border-bottom: none;
    color: white;
  }

  .select-wrapper:focus:after {
    border-color: #82d1ff transparent;
  }

  .select-wrapper:focus .categories {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    max-height: 400px;
  }

  .clear-advanced {
    font-size: 10px;
    font-weight: 300;
    color: #3D97FF;
    margin-left: 18px;
    cursor: pointer;
  }
}

.checks-container {
  margin-bottom: 6px;

  label {
    display: flex;
    align-items: center;
    color: #636363;
    user-select: none;

    input {
      cursor: pointer;
      position: relative;
      z-index: 0;
      width: 0px;
      height: 0px;
      background-color: transparent;

      &:before, &:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 11px;
        text-align: center;
        transition: 0.2s;
      }

      &:before {
        background-color: transparent;
        width: 11px;
        height: 11px;
        box-shadow: 0 0 3px #00000029;
      }

      &:after {
        background-image: url("../../../../../assets/icons/check.svg");
        background-repeat: no-repeat;
        background-size: 10.5px 10.5px;
        content: '';
        overflow: hidden;
        width: 0;
        z-index: 2;
        border: none;
      }
    }

    input:checked {
      &:after {
        width: 10px;
      }
    }

    .all-checked {
      input:checked {
        &:after {
          width: 10px;
        }
      }
    }
  }

  .filter-type {
    margin-left: 15px;
  }
}

