<div class="advanced-container">
  <div
    [ngClass]="{'active': category.opened}"
    class="select-wrapper"
    *ngFor="let category of categories"
    (clickOutside)="onClickedOutside(category)"
  >
    <div class="select-header"
         (click)="openCategory(category)"
    >
      <img class="time-img"
           *ngIf="category.name === 'Creation Time'"
           src="../../../../../assets/icons/advanced-time.svg" alt="advanced-time">
      {{category.name}}
    </div>
    <div class="categories">
      <div class="d-flex flex-a-center checks-container" *ngFor="let option of category.options">
        <label>
          <input type="checkbox">
          <span class="filter-type">{{option}}</span>
        </label>
      </div>
    </div>
  </div>
  <div class="clear-advanced">
    Clear all
  </div>
</div>
