.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 6;
  background-color: #ffffff;

  .container {
    justify-content: space-between;
    align-items: center;
    padding: 6px 0;
  }
}
