.container {
  margin-top: 60px;
  background-color: #F6F6F6;
  height: calc(100vh - 60px);
  overflow: hidden;
}

.home-page-wrap {
  padding: 48px 0 0;
  width: 90vw;
  max-width: 1160px;
  margin: 0 auto;

  .search-input {
    margin: 0 auto;
  }

  .breadcrumbs-title {
    font-size: 14px;
    color: #000000;
    user-select: none;
    padding: 16px 0 9px;
    margin: 0 10px;
    border-bottom: 1px solid #C6D5E1;

    & a {
      cursor: pointer;
    }
  }

  .main-folders {
    padding-top: 15px;


  }
}

.folders + .favorites-items {
  display: none;
}
