.header-left {
  display: flex;
  align-items: center;
  margin-left: 6px;

  .menu-btn {
    height: 48px;
    width: 48px;
    background-color: #0E4F6E;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    max-width: 88px;
    margin-left: 16px;
    cursor: pointer;
    user-select: none;
    outline: none;
  }

  .navigation {
    position: absolute;
    top: 5px;
    left: -500px;
    transition: 0.5s;
    z-index: 8;
  }

  .menu-pos {
    left: 6px;
  }
}
