<div class="header-left" (clickOutside)="this.activeMenu = false;">
	<div class="menu-btn"
		 (click)="activeMenu = !activeMenu">
		<img src="../../../../../assets/icons/header-nav/menu-btn.svg" alt="menu-btn">
	</div>
	<div class="logo"
		 routerLink="/"
	>
		<img src="../../../../../assets/icons/header-nav/logo.svg" alt="logo">
	</div>
	<div
		class="navigation"
		[ngClass]="{'menu-pos': activeMenu}">
		<app-header-nav
			(openMenu)="activeMenu = !activeMenu"
		></app-header-nav>
	</div>
</div>
