.container {
}

.main {
  display: flex;
}

.search-content-wrap {
  width: 100%;
  padding: 0 30px 0 40px;
}

.search-result-wrap {
  margin-left: 9px;
}

.search-filters-button {
  margin: 0 19px;
  cursor: pointer;
  height: 42px;
}

.search-result-info {
  font-size: 9px;
  font-weight: 400;
  margin: 7px 0;
}

.search-time-result {
  font-size: 8px;
  font-weight: 400;
  margin: 7px 0;
}

