<div class="more-content">

  <div class="legend-token d-flex flex-a-center">
    <div class="legend-type">~</div>
    <div>Token1<span class="legend-blue-text">~</span><span class="pl">(Fuzzy Search on Token1)</span></div>
  </div>

  <div class="legend-token d-flex flex-a-center">
    <div class="legend-type pt">*</div>
    <div class="flex-column">
      <div>Token1<span class="legend-blue-text">*</span>Toke<span class="legend-blue-text">*</span>n1,
      </div>
      <div><span class="legend-blue-text">*</span>Token1,<span class="legend-blue-text">*</span>Token1<span
        class="legend-blue-text">*</span>
      </div>
    </div>
    <span class="pl">(Wild Card)</span>
  </div>

  <div class="legend-token d-flex flex-a-center">
   <div class="legend-type pt">"</div>
    <div><span class="legend-blue-text">"</span>Token1 Token2<span class="legend-blue-text">"</span><span class="pl">(Exact match)</span></div>
  </div>

  <div class="legend-token d-flex flex-a-center">
    <div class="legend-type legend-type-not">NOT</div>
    <div>Token1 <span class="legend-blue-text">NOT</span> Token2</div>
  </div>

  <div class="legend-token d-flex flex-a-center">
    <div class="legend-type legend-type-or">OR</div>
    <div>Token1 <span class="legend-blue-text">OR</span> Token2</div>
  </div>

</div>
