<div class="search flex-column">
  <div class="container">
    <div class="search-wrapper">
      <app-main-search-input (openAdvanced)="openAdvanced($event)"></app-main-search-input>
      <div class="search-history" [ngClass]="{'search-history-down': advanced}">
        <div class="history-header d-flex">
          <div class="history-title d-flex">
            <img src="../../../../../assets/icons/search-history.svg" alt="search-history">
            <span class="title">My search History</span>
          </div>
          <div class="clean-history">
            <span>Clean History</span>
          </div>
        </div>
        <div class="history-links">
          <app-history-chip></app-history-chip>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>

