.card-drop-down {
  background-color: #FFFFFF;
  box-shadow: 0 1px 6px #0000001F;
  border-radius: 4px;
  padding: 0 0 12px 8px;
  width: 113px;
  position: relative;
  left: -8px;
  color: #000000;
  //& > div:not(:first-child):hover {
  //  background: rgba(0,0,0,.2);
  //  transition: 7ms;
  //}
}

.drop-down-img {
  width: 10px;
}

.drop-down-arrow {
  transform: rotate(180deg);
}

.drop-down-title {
  margin-left: 7px;
  cursor: pointer;
}

