<div
  class="container"
  [class.search-result]="isSearchResult"
  [class.mb40]="advanced"

>
  <div
    class="search-result-info"
    *ngIf="isSearchResult"
  >Showing Results for <span class="italic-bold-text">"Patrick or Pato"</span></div>
  <div class="d-flex input-section">
    <div class="d-flex input-section-wrap">
      <div
        (click)="openFilters()"
        *ngIf="isSearchResult"
        class="search-filters-button">
        <img *ngIf="closeFilters" src="../../../../../assets/icons/search-filter-button.svg" alt="filters">
        <img *ngIf="!closeFilters" src="../../../../assets/icons/filters-btn-active.svg" alt="filters-active">
      </div>
      <div class="flex-column">
        <div class="d-flex search-input">
          <input type="text" placeholder="Search here">
          <button
            class="search-btn"
            routerLink="/results/items"
          >
            <img
              class="search-img"
              src="../../../../../assets/icons/search-button.svg" alt="search">
          </button>
        </div>
        <span *ngIf="isSearchResult" class="search-time-result">
          495 Results (0.21 Seconds)
        </span>
        <div
          class="drag-files-section"
          [class.active]="openDropFiles"

        >
          <app-search-drag-files></app-search-drag-files>
        </div>
      </div>
      <div class="actions">
        <div class="search-camera pointer"
             (click)="openDropFiles = !openDropFiles"
             (clickOutside)="onClickedOutside()"
        >
          <img [src]="'../../../../../assets/icons/'+ (openDropFiles ? 'search-camera-blue' : 'search-camera')+'.svg'"
               alt="search-camera">
        </div>
        <div class="search-voice">
          <img src="../../../../../assets/icons/search-voice.svg" alt="search-voice">
        </div>
        <span
          class="advanced-title pointer"
          (click)="openAdvanced.emit(advanced = !advanced)"
          [ngClass]="{'changeColor': advanced}"
        >Advanced</span>
      </div>
    </div>
    <div class="advanced pointer"
         [ngClass]="{'advanced-visible': advanced}">
      <app-search-advanced></app-search-advanced>
    </div>
  </div>
</div>
