advanced-title {
  align-self: center;
  color: lightgray;
  display: block;
}

.input-section {
  position: relative;
}



.search-input {
  transition: 0.7s;
  width: 580px;

  .search-btn {
    border-radius: 0 4px 4px 0;

    .search-img {
      max-width: 23px;
    }
  }

}

.drag-files-section {
  position: absolute;
  z-index: 3;
  top: 17px;
  width: 580px;

}

.advanced {
  position: absolute;
  width: max-content;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  right: 0;
  margin: 0 auto;
  transition: 0.7s;
  opacity: 0;
  z-index: -1;
  cursor: pointer;
}

.advanced-visible {
  top: 40px;
  opacity: 1;
  padding-top: 21px;
  z-index: 1;

  & + .search-history {
    padding-top: 60px;
    transition: 0.7s;
  }
}

.actions {
  display: flex;
  align-items: center;

  .search-voice {
    margin: 0 16px;
    cursor: pointer;
  }

  .search-camera {
    cursor: pointer;
    margin-left: 23px;
  }

  .advanced-title {
    color: #A4B7CE;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
  }

  .changeColor {
    color: #3D97FF;
  }
}
