@font-face {
  font-family: Roboto-400;
  src: url(assets/fonts/Roboto-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Roboto-500;
  src: url(assets/fonts/Roboto-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Roboto-bolt;
  src: url(assets/fonts/Roboto-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: RobotoSlab-400;
  src: url(assets/fonts/RobotoSlab-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: RobotoSlab-bold;
  src: url(assets/fonts/RobotoSlab-Bold.ttf);
  font-weight: 700;
}
