/*variables*/
$text-color: #000000;
$text-white-color: #ffffff;
$text-grey-color: #6d6c6c;
$text-blue-color: #1f6181;

$btn-color: #2183BC;
$button-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.2);

$input-placeholder:#ABABAB;
$input-shadow:  0 1px 15px 0 rgba(0, 0, 0, 0.1);


